.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;
  border-bottom: 1px solid var(--divider);
  padding: 0 20px;
}
.logo {
  font-family: poppins;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.logo span {
  font-size: 11px;
  color: orange;
  font-weight: normal;
}
